/.vs/Examples-CPP/config/applicationhost.config
/.vs/Examples-CPP/v16/.suo
/.vs/Examples-CPP/v16/Browse.VC.db
/.vs/Examples-CPP/v16/Browse.VC.db-shm
/.vs/Examples-CPP/v16/Browse.VC.db-wal
/.vs/Examples-CPP/v16/Browse.VC.opendb
/.vs/Examples-CPP/v16/Solution.VC.db
/.vs/Examples-CPP/v16/Solution.VC.db-shm
/.vs/Examples-CPP/v16/Solution.VC.db-wal
/.vs/Examples-CPP/v16/ipch/AutoPCH/15e6b6b1f4dca43f/RAUDIO.ipch
/.vs/Examples-CPP/v16/ipch/AutoPCH/4bfe13d6a55d1387/RSHAPES.ipch
/.vs/Examples-CPP/v16/ipch/AutoPCH/81137d3aa825123d/PEW.ipch
/.vs/Examples-CPP/v16/ipch/AutoPCH/b2f66a8a7626455c/MAIN.ipch
/.vs/Examples-CPP/v16/ipch/AutoPCH/c15e9969c728da86/RCORE.ipch
/.vs/Examples-CPP/v16/ipch/AutoPCH/e2d68172fea7a4dd/CARDS.ipch
/.vs/Examples-CPP/v16/ipch/AutoPCH/fab29d3eb75d7a95/RTEXTURES.ipch
/Examples-CPP.sln
/bin/Debug.DLL/Cards.exe
/bin/Debug.DLL/Cards.pdb
/bin/Debug.DLL/Pew.exe
/bin/Debug.DLL/Pew.pdb
/bin/Debug.DLL/raylib.dll
/bin/Debug.DLL/raylib.exp
/bin/Debug.DLL/raylib.lib
/bin/Debug.DLL/raylib.pdb
/build/obj/x64/Debug.DLL/raudio.obj
/build/obj/x64/Debug.DLL/raylib.dll.recipe
/build/obj/x64/Debug.DLL/raylib.ilk
/build/obj/x64/Debug.DLL/raylib.log
/build/obj/x64/Debug.DLL/raylib.tlog/CL.command.1.tlog
/build/obj/x64/Debug.DLL/raylib.tlog/CL.read.1.tlog
/build/obj/x64/Debug.DLL/raylib.tlog/CL.write.1.tlog
/build/obj/x64/Debug.DLL/raylib.tlog/link.command.1.tlog
/build/obj/x64/Debug.DLL/raylib.tlog/link.read.1.tlog
/build/obj/x64/Debug.DLL/raylib.tlog/link.write.1.tlog
/build/obj/x64/Debug.DLL/raylib.tlog/raylib.lastbuildstate
/build/obj/x64/Debug.DLL/raylib.tlog/raylib.write.1u.tlog
/build/obj/x64/Debug.DLL/rcore.obj
/build/obj/x64/Debug.DLL/rglfw.obj
/build/obj/x64/Debug.DLL/rmodels.obj
/build/obj/x64/Debug.DLL/rshapes.obj
/build/obj/x64/Debug.DLL/rtext.obj
/build/obj/x64/Debug.DLL/rtextures.obj
/build/obj/x64/Debug.DLL/utils.obj
/build/obj/x64/Debug.DLL/vc142.idb
/build/obj/x64/Debug.DLL/vc142.pdb
/build/raylib.vcxproj
/build/raylib.vcxproj.filters
/cards/Cards.vcxproj
/cards/Cards.vcxproj.filters
/cards/Cards.vcxproj.user
/pew/Pew.vcxproj
/pew/Pew.vcxproj.filters
/pew/Pew.vcxproj.user
/pew/obj/x64/Debug.DLL/Pew.exe.recipe
/pew/obj/x64/Debug.DLL/Pew.ilk
/pew/obj/x64/Debug.DLL/Pew.log
/pew/obj/x64/Debug.DLL/Pew.tlog/CL.command.1.tlog
/pew/obj/x64/Debug.DLL/Pew.tlog/CL.read.1.tlog
/pew/obj/x64/Debug.DLL/Pew.tlog/CL.write.1.tlog
/pew/obj/x64/Debug.DLL/Pew.tlog/Pew.lastbuildstate
/pew/obj/x64/Debug.DLL/Pew.tlog/link.command.1.tlog
/pew/obj/x64/Debug.DLL/Pew.tlog/link.read.1.tlog
/pew/obj/x64/Debug.DLL/Pew.tlog/link.write.1.tlog
/pew/obj/x64/Debug.DLL/main.obj
/pew/obj/x64/Debug.DLL/pew.obj
/pew/obj/x64/Debug.DLL/vc142.idb
/pew/obj/x64/Debug.DLL/vc142.pdb
